<script lang="ts">
	import { scale } from "svelte/transition";
	import { quintOut } from "svelte/easing";

	export let items: any;
	export let currentPage: string;
</script>

<component transition:scale={{ duration: 250, opacity: 0, start: 0.5, easing: quintOut }}>
	{#each items as item}
		<a href={item.address} class={currentPage === item.pageName ? "current" : ""}>{item.label}</a>
	{/each}
</component>

<style>
	component {
		position: absolute;
		display: flex;
		flex-direction: column;
		gap: var(--u-2);
		width: var(--u-74);
		border: solid 1px var(--bg-surface-lowest);
		margin-top: var(--u-8);
		padding: var(--u-2);
		background: var(--bg-surface-low);
		border-radius: var(--border-radius-1);
		right: 0;
		top: var(--u-6);
		z-index: 5;
	}

	component a {
		padding: var(--u-2) var(--u-8);
		width: 100%;
		transition: all 0.15s;
		border: solid 1px transparent;
		border-radius: var(--border-radius-1);
		background: var(--bg-surface-lower);
	}

	component a:hover {
		background: transparent;
		border: solid 1px var(--bg-surface-lowest);
		color: var(--primary-low);
		background: var(--bg-surface-lower);
		box-shadow: inset 0 0 4px var(--bg-surface-lowest);
	}

	component a.current {
		background: var(--primary);
		color: var(--text-invert);
	}

	component a.current:hover {
		border: solid 1px var(--primary-low);
		background: var(--primary-low);
		box-shadow: inset 0 0 4px var(--primary-low);
	}
</style>
