<script lang="ts">
	import StandardFooter from "$lib/components/navigation/StandardFooter.svelte";
	import StandardNav from "$lib/components/navigation/StandardNav.svelte";

    import site from "$lib/site.json";
</script>

<body>
	<StandardNav />

	<div>
		<slot />
	</div>

	<StandardFooter />
</body>