<script lang="ts">
	import { MarkGithub16, Person24, Repo24 } from "svelte-octicons";
	import type { PageData } from "./$types";
	import site from "$lib/site.json";

	export let data: PageData;
</script>

<svelte:head>
	<title>Home - {site.title}</title>
</svelte:head>

<div>
	<a href="https://codeberg.org/hkau" class="repo">
		<Person24 width="32" height="32" style="margin-top: var(--u-2);" />

		<div class="ml-4 repo-text">
			<h3>hkau</h3>
			<p class="mt-2">My profile on Codeberg.org</p>
		</div>
	</a>

	<a href="https://github.com/0aoq" class="repo">
		<MarkGithub16 width="32" height="32" style="margin-top: var(--u-2);" />

		<div class="ml-4 repo-text">
			<h3>0aoq</h3>
			<p class="mt-2">My profile on GitHub</p>
		</div>
	</a>

	{#each data.repos as repo}
		<a class="repo" href="/{repo.name}">
			<Repo24 width="32" height="32" style="margin-top: var(--u-2);" />

			<div class="ml-4 repo-text">
				<h3>{repo.name} <code style="color: var(--text-primary);">{repo.language}</code></h3>
				<p class="mt-2">{repo.description || "No Description"}</p>
			</div>
		</a>
	{/each}
</div>

<style>
	.repo {
		border-bottom: solid 1px var(--bg-surface-low);
		padding: var(--u-12);
		width: 100%;
		display: flex;
		justify-content: center;
		transition: all 0.1s;
		color: var(--text-primary);
	}

	.repo:nth-child(even) {
		background: var(--bg-surface-low);
	}

	.repo:hover {
		background: var(--bg-surface-lower);
		box-shadow: inset 0 0 8px 2px var(--primary);
	}

	.repo .repo-text {
		width: calc(var(--u-100) * 1.5);
	}
</style>
