<script lang="ts">
	import { ChevronDown24, GitBranch16, GitCommit16, Repo24, Tag16 } from "svelte-octicons";
	import Group from "$lib/components/navigation/Group.svelte";

	import type { PageData } from "./$types";
	export let data: PageData;

	// repos list
	let reposListOpen = false;
	let reposList: any[] = [];

	for (let repo of data.repos) {
		reposList.push({
			label: repo.name,
			address: `/${repo.name}`,
			pageName: repo.name
		});
	}
</script>

<svelte:head>
	<title>{data.name}</title>
</svelte:head>

<main>
	<card class="round-1-tl round-1-tr flex justify-space-between">
		<h1 class="flex align-center">
			<Repo24 width="32" height="32" />
			<span class="ml-4">{data.name}</span>
		</h1>

		<div class="flex align-center">
			<button
				class="round"
				style="position: relative;"
				on:click={() => {
					reposListOpen = !reposListOpen;
				}}
			>
				<span class="mr-2">Other Repos</span>
				<ChevronDown24 style="margin-top: 2px;" />

				{#if reposListOpen}
					<Group items={reposList} currentPage={data.name} />
				{/if}
			</button>
		</div>
	</card>

	<card class="flex justify-center align-center" style="border-top: none; gap: var(--u-2);">
		<a href={data.repo.html_url} class="doNotAddHover!">
			<button class="round secondary"><GitBranch16 /> <span class="ml-2">Git</span></button>
		</a>

		<a href="{data.repo.html_url}/commits/branch/master" class="doNotAddHover!">
			<button class="round secondary"><GitCommit16 /> <span class="ml-2">Commits</span></button>
		</a>

		<a href="{data.repo.html_url}/releases" class="doNotAddHover!">
			<button class="round secondary"><Tag16 /> <span class="ml-2">Releases</span></button>
		</a>
	</card>

	<card
		class="round-1-bl round-1-br flex justify-center align-center"
		style="border-top: none; flex-direction: column; gap: var(--u-4);"
	>
		<p>{data.repo.description}</p>

		<div>
			<p>Clone: <code>{data.repo.clone_url}</code></p>
			<p>SSH: <code>{data.repo.ssh_url}</code></p>
		</div>
	</card>
</main>
