<script lang="ts">
	import { ArrowRight16 } from "svelte-octicons";

	export let title: string = "";
	export let subheader: string = "";
	export let buttons: Array<{ label: string; href: string }> | undefined = undefined;
	export let options: any = {};
</script>

<component
	style="padding: {options.py || 'var(--u-24)'} {options.px || 'var(--u-14)'}; {options.styles ||
		''}"
>
	<h1>{title}</h1>
	<h2>{subheader}</h2>

	{#if buttons}
		<div class="flex mt-8" style="gap: var(--u-2); max-width: calc(var(--u-100) * 1.5);">
			{#each buttons as button}
				<a href={button.href} aria-label={button.label} class="doNotAddHover!">
					<button class="secondary round">
						<span class="mr-2" style="margin-bottom: 3px;">{button.label}</span>
						<ArrowRight16 width="20" height="20" />
					</button>
				</a>
			{/each}
		</div>
	{/if}
</component>

<style>
	component {
		display: block;
		background: var(--primary-low);
	}

	component * {
		color: var(--text-invert);
	}

	component h1 {
		font-size: 2.5rem;
	}

	component h2 {
		font-weight: 600;
	}

	@media screen and (max-width: 800px) {
		component h1 {
			font-size: xx-large;
		}
	}

	component button {
		font-size: large;
		padding: 0.6rem 1.4rem;
	}

	component button:hover,
	component button:hover span {
		color: var(--text-primary) !important;
	}

	component button span {
		transition: all 0.15s;
	}

	component button:hover span {
		margin-right: var(--u-4);
	}
</style>
